# Archivos del sistema
.DS_Store
Thumbs.db

# Files cabraping.be
# Dependencias
cabraping/node_modules

# Configuración del IDE/editor
/cabraping/.vscode
/cabraping/!.vscode/settings.json
/cabraping/!.vscode/tasks.json
/cabraping/!.vscode/launch.json
/cabraping/!.vscode/extensions.json
/cabraping/!.vscode/*.code-snippets

# Archivos de registro
/cabraping/npm-debug.log*
/cabraping/yarn-debug.log*
/cabraping/yarn-error.log*

# Directorios de construcción
/cabraping/dist
/cabraping/build

# Archivos de configuración local
/cabraping/.env
/cabraping/.env.local
/cabraping/.env.development.local
/cabraping/.env.test.local
/cabraping/.env.production.local